// Import your variables
@import "variables";

// Global styles
body {
  font-family: $font-stack;
  background-color: $body-background-color;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

// Header styles
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  padding: 5px 100px 5px 100px;

  .logo {
    img {
      height: 50px;
    }
  }

  nav {
    position: relative;
    display: flex;
    align-items: center;

    .hamburger-menu {
      background: none;
      border: none;
      cursor: pointer;
      position: relative;
      width: 20px;
      height: 40px;
      margin-right: 10px;

      &::before,
      &::after,
      span {
        content: "";
        display: block;
        height: 3px;
        background-color: #464659; // Set the color of the bars to #464659
        margin: 4px 0;
        transition: 0.3s ease;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 20px;

      li {
        display: inline;

        a {
          text-decoration: none;
          color: $link-color;
          font-weight: bold;

          &:hover {
            color: $link-hover-color;
          }

          &.button {
            background-color: $button-background-color;
            color: #fff;
            padding: 10px 20px;
            border-radius: 1em;

            &:hover {
              background-color: $button-hover-color;
            }
          }
        }
      }
    }
  }
}

// Footer styles
footer {
  padding: 20px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: $text-color;

  .footer-left {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 10px;
    }
  }

  .footer-right {
    display: flex;
    align-items: center;

    .payment-icons {
      display: flex;
      align-items: center;

      img {
        margin-left: 10px;
        width: 32px;
        height: auto;
      }
    }
  }

  a {
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

// Responsive Breakpoints
@media (max-width: 1147px) {
  header {
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    .hamburger-menu {
      display: block; // Show the hamburger menu on screens up to 1147px
    }

    .nav-links {
      display: none; // Hide the nav links by default on screens up to 1147px
      flex-direction: column;
      background-color: #fff;
      position: fixed; // Make the dropdown cover the full screen
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; // Cover the full height
      justify-content: center;
      align-items: center;
      z-index: 1000;
      box-shadow: none; // Remove the box shadow
    }

    .nav-links.show {
      display: flex; // Show the nav links when the menu is toggled
    }

    ul {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    nav ul li {
      text-align: center;
      padding: 20px 0;
    }

    nav ul li a {
      font-size: 24px;
      padding: 20px;
      width: 100%;
      display: block;
    }

    nav ul li a.button {
      margin: 20px auto;
    }
  }
}

@media (min-width: 1148px) {
  .hamburger-menu {
    display: none; // Hide the hamburger menu on larger screens
  }

  .nav-links {
    display: flex; // Always show the nav links on larger screens
    gap: 20px;
  }
}
