$font-stack: "Arial", sans-serif;
$primary-color: #333;
$background-color: #eef1f7;
$button-background-color: #333;
$button-hover-color: #555;
$link-color: #333;
$link-hover-color: #555;
$text-color: #555;
$background-color: #eef1f7;
